{
  "FIREBASE_WEB_API_KEY": "YOUR_FIREBASE_WEB_API_KEY",
  "FIREBASE_WEB_APP_ID": "YOUR_FIREBASE_WEB_APP_ID",
  "FIREBASE_ANDROID_API_KEY": "YOUR_FIREBASE_ANDROID_API_KEY",
  "FIREBASE_ANDROID_APP_ID": "YOUR_FIREBASE_ANDROID_APP_ID",
  "GOOGLE_SIGN_IN_WEB_CLIENT_ID": "YOUR_GOOGLE_SIGN_IN_WEB_CLIENT_ID"
}
