openapi: 3.0.0
info:
  title: OpenAlex API Integration for Journal Trend Analyzer
  description: |
    This OpenAPI document defines the subsets of the OpenAlex REST API consumed by the 
    **Journal Trend Analyzer** mobile application to fulfill topic searches, detail displays, 
    trend timelines, and dashboard analytics.
    
    All requests should include a Polite Pool User-Agent header:
    `User-Agent: JournalTrendAnalyzer/1.0 (mailto:your_email@domain.com)`
  version: 1.0.0
servers:
  - url: https://api.openalex.org
    description: OpenAlex Production API Server
paths:
  /works:
    get:
      summary: Query academic publications or retrieve aggregations
      description: |
        Retrieves a list of academic works matching a query keyword, or returns grouped statistics 
        (aggregations) for trends, top journals, or top authors depending on the `group_by` parameter.
      parameters:
        - name: search
          in: query
          required: true
          description: |
            Free-text search query targeting titles, abstracts, and full text (deprecated title_and_abstract.search filter replaced).
          schema:
            type: string
            example: Artificial Intelligence
        - name: filter
          in: query
          required: false
          description: |
            Optional filters to restrict matching works (e.g. publication_year:2023).
          schema:
            type: string
            example: is_oa:true
        - name: sort
          in: query
          required: false
          description: Field to sort by. Typically `cited_by_count:desc` to find top cited papers.
          schema:
            type: string
            example: cited_by_count:desc
        - name: per_page
          in: query
          required: false
          description: Number of results to return per page (maximum 200).
          schema:
            type: integer
            default: 50
            example: 50
        - name: page
          in: query
          required: false
          description: Page number of results.
          schema:
            type: integer
            default: 1
            example: 1
        - name: group_by
          in: query
          required: false
          description: |
            Groups results by a specific attribute instead of returning publication lists. 
            Allowed values:
            - `publication_year`: For timeline analysis.
            - `topics.id`: For top active topic/keyword analysis.
            - `primary_location.source.id`: For top publishing journals.
            - `authorships.author.id`: For top active authors.
          schema:
            type: string
            enum: [publication_year, topics.id, primary_location.source.id, authorships.author.id]
            example: publication_year
      responses:
        '200':
          description: Successful query execution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: Total number of publications matching filters.
                      db_duration_ms:
                        type: integer
                  results:
                    type: array
                    description: Populated only when NOT using group_by parameter.
                    items:
                      $ref: '#/components/schemas/Work'
                  group_by:
                    type: array
                    description: Populated only when using group_by parameter.
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: The grouped key (e.g. publication year, journal ID, author ID).
                        key_display_name:
                          type: string
                          description: Human-readable name of the grouped key.
                        count:
                          type: integer
                          description: Volume of papers in this group.
  /works/{id}:
    get:
      summary: Retrieve detailed publication by ID
      description: Fetches full metadata for a single work, including authorships and citation statistics.
      parameters:
        - name: id
          in: path
          required: true
          description: The OpenAlex Work ID (e.g., W2741809807).
          schema:
            type: string
            example: W2741809807
      responses:
        '200':
          description: Detailed work metadata retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Work'

components:
  schemas:
    Work:
      type: object
      properties:
        id:
          type: string
          description: OpenAlex URI ID.
        title:
          type: string
          description: The title of the paper.
        publication_year:
          type: integer
          description: Calendar year of publication.
        cited_by_count:
          type: integer
          description: Total citations recorded in OpenAlex database.
        doi:
          type: string
          description: Digital Object Identifier URL link.
        abstract_inverted_index:
          type: object
          description: |
            Word-position map. Reconstructed by app client to build full abstract text paragraphs.
          additionalProperties:
            type: array
            items:
              type: integer
        authorships:
          type: array
          items:
            $ref: '#/components/schemas/Authorship'
        primary_location:
          type: object
          properties:
            source:
              $ref: '#/components/schemas/Source'
    Authorship:
      type: object
      properties:
        author:
          type: object
          properties:
            id:
              type: string
            display_name:
              type: string
            orcid:
              type: string
              nullable: true
    Source:
      type: object
      properties:
        id:
          type: string
        display_name:
          type: string
        publisher:
          type: string
        type:
          type: string
          example: journal
